.GameBoard {
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resolution-area{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 500px;
}

.pick-title {
  color: black;
  font-size: 3rem;
}

.house-pick, .user-pick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.token {
  cursor: pointer;
}

.user-pick-option .Board-item {
  margin: 50px 0 0;
  width: 250px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-pick-option .Board-item .item-container img {
  width: 100px;
}

.house-pick-option {
  margin: 25px 0;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.house-pick-option img {
  width: 60%;
}


/* ESTILOS DE GANADOR */

.win .Board-item {
  animation: 1s ease 0s 1 normal forwards running winner;
}

.lose .Board-item {
  animation: 1s ease 0s 1 normal forwards running loser;
}

.play-again {
  margin-top: 100px;
  align-self: center;
  text-align: center;
}

.play-again h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: black;
  font-size: 4rem;
}

@keyframes loser {
  to {
    transform: scale(0.7);
    filter: grayscale(0.8);
  }
}

@keyframes winner {
  to {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.04),
      0 0 0 80px rgba(255, 255, 255, 0.04),
      0 0 0 120px rgba(255, 255, 255, 0.02);
    transform: scale(1.1);
  }
}

.vlgb {
  border-left: 1px solid black;
  height: 500px;
}