* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: white;
}

.footer{
  display: flex;
  justify-content: end;
}

.credits {
  position: absolute;
  border-radius: 12px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 0.5rem 1rem;
}

.credits a{
  color: white;
}